body {
  background-color: #fff;
  color: #333333;
  list-style: none;
}
body a {
  color: #333333;
}
body h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0em;
  color: #333333;
  font-weight: Arial;
}
body h2 {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #333333;
  font-weight: Meiryo, sans-serif;
}
body p {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #333333;
  font-weight: Meiryo, sans-serif;
}
body h3 {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #333333;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.l-contents {
  margin-top: 15px;
  width: 100%;
}

.l-footer {
  text-align: center;
  margin-top: 185px;
}
@media (max-width: 599px) {
  .l-footer {
    margin-top: 142px;
  }
}
.l-footer p {
  font-size: 10px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}

.l-header {
  height: 90px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 40px;
}
.l-header li {
  padding-bottom: 10px;
}
.l-header a {
  color: #fff;
  font-size: 15px;
  padding-bottom: 10px;
}

.p-article {
  width: 100%;
}
.p-article__menu {
  text-align: center;
}
.p-article__menu1 {
  display: flex;
  text-align: center;
  max-width: 1000px;
  padding: 90px 16px 150px 16px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 599px) {
  .p-article__menu1 {
    flex-direction: column;
    padding: 0px 16px 109px 0px;
  }
}
.p-article__menu1__left {
  width: 50%;
  padding: 0px 43px 16px 43px;
  border-right: 1px solid #000000;
}
@media (max-width: 599px) {
  .p-article__menu1__left {
    width: 100%;
    padding: 0px 43px 16px 0px;
  }
}
.p-article__menu1__left h3 {
  border-bottom: 6px solid #e03131;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 15px;
  margin: 0px 0 0 30px;
}
@media (max-width: 599px) {
  .p-article__menu1__left h3 {
    padding-bottom: 0px;
    margin: 28px 0 0 18px;
  }
}
.p-article__menu1__left dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
  margin-left: 28px;
  margin-right: 23px;
}
@media (max-width: 599px) {
  .p-article__menu1__left dl {
    margin-top: 0px;
    margin-left: 15px;
  }
}
.p-article__menu1__left dt {
  width: 92%;
  text-align: left;
  border-bottom: 1px solid black;
  line-height: 26px;
  margin-top: 25px;
}
.p-article__menu1__left dd {
  width: 4%;
  line-height: 26px;
  margin-top: 25px;
}
.p-article__menu1__right {
  width: 50%;
  padding: 0 35px;
}
@media (max-width: 599px) {
  .p-article__menu1__right {
    width: 100%;
    padding: 0 8px;
  }
}
.p-article__menu1__right h3 {
  border-bottom: 6px solid #e03131;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 15px;
}
@media (max-width: 599px) {
  .p-article__menu1__right h3 {
    padding-bottom: 0px;
    margin-top: 18px;
  }
}
.p-article__menu1__right dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 11px;
  margin-right: 39px;
}
@media (max-width: 599px) {
  .p-article__menu1__right dl {
    margin-top: 0px;
  }
}
.p-article__menu1__right dt {
  width: 92%;
  text-align: left;
  border-bottom: 1px solid black;
  line-height: 26px;
  margin-top: 23px;
}
.p-article__menu1__right dd {
  width: 4%;
  line-height: 26px;
  margin-top: 25px;
}
.p-article__about h3 {
  margin: 80px 0 0 44%;
  padding-bottom: 15px;
  border-bottom: 6px solid #e03131;
  display: inline-block;
}
@media (max-width: 599px) {
  .p-article__about h3 {
    margin: 24px 0 0 39%;
    padding-bottom: 0px;
  }
}
.p-article__about__text {
  display: flex;
  max-width: 933px;
  margin: 42px auto;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .p-article__about__text {
    margin: 27px 20px 0 27px;
    font-size: 14.4px;
    font-weight: regular;
    line-height: 2;
    letter-spacing: 0em;
    flex-direction: column;
  }
}
.p-article__about__text section {
  margin-top: 35px;
  margin-right: 0px;
  font-size: 14.4px;
  font-weight: regular;
  line-height: 2;
  letter-spacing: 0.02em;
}
@media (max-width: 599px) {
  .p-article__about__text section {
    margin-top: 3px;
  }
}
.p-article__about__text__left {
  width: 48%;
}
@media (max-width: 599px) {
  .p-article__about__text__left {
    width: 100%;
  }
}
.p-article__about__text__right {
  width: 48%;
  padding-left: 5%;
}
@media (max-width: 599px) {
  .p-article__about__text__right {
    width: 100%;
    padding-left: 0;
  }
}
.p-article__location {
  margin-top: 0;
}
@media (max-width: 599px) {
  .p-article__location {
    margin-top: -70px;
  }
}
.p-article__location h3 {
  margin: 80px 0 0 40.5%;
  border-bottom: 6px solid #e03131;
  display: inline-block;
  padding-bottom: 15px;
}
@media (max-width: 599px) {
  .p-article__location h3 {
    margin: 27px 0 0 33.5%;
    padding-bottom: 0;
  }
}
.p-article__location__text {
  margin-top: 10px;
  margin-left: 12.3%;
}
@media (max-width: 599px) {
  .p-article__location__text {
    margin-top: 13px;
    margin-left: 4.3%;
  }
}
.p-article__location__text p {
  margin-top: 11px;
}

.p-mask {
  display: none;
}

.open1 {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
}

.p-nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 50px 55px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}

.open {
  left: 0;
  opacity: 1;
}

.c-list {
  position: absolute;
  width: 100%;
  justify-content: end;
}
.c-list__menu {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 15px;
}
@media (max-width: 599px) {
  .c-list__menu {
    margin-top: 20px;
  }
}
.c-list__menu li {
  margin-right: 27px;
}

.c-ham-btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 45px;
  z-index: 98;
  cursor: pointer;
}
.c-ham-btn span {
  position: absolute;
  left: 7px;
  width: 36px;
  height: 3px;
  transition: all 0.4s;
  background-color: #000;
}
.c-ham-btn span:nth-of-type(1) {
  top: 8px;
}
.c-ham-btn span:nth-of-type(2) {
  top: 17px;
}

#c-BTN1.active {
  transform: rotate(360deg);
  transition: all 0.5s;
}
#c-BTN1.active span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}
#c-BTN1.active span:nth-of-type(2) {
  top: 38px;
  transform: translateY(-15px) rotate(45deg);
}

.c-map {
  margin: 65px 0 0 12%;
  width: 76% !important;
  height: 400px;
}
@media (max-width: 599px) {
  .c-map {
    margin: 25px 0 0 5%;
    width: 90% !important;
  }
}

.margin80 {
  margin-top: 80px;
}

.u-margin-under {
  margin: 92px 9px 0 0px !important;
}
@media (max-width: 599px) {
  .u-margin-under {
    margin: 40px 9px 0 10px !important;
  }
}

.bg-fixed {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media (max-width: 599px) {
  .bg-fixed {
    height: 95px;
  }
}/*# sourceMappingURL=style.css.map */