@use "../global" as *;

.l-footer {
  display: flex;
  max-width: $inner1;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 55px;
  justify-content: space-between;
  @include size {
    flex-direction: column;
    justify-content: baseline;
  }
  > p {
    margin-top: 0px;
    margin-left: 42px;
    text-align: end;
    @include size {
      margin-top: 5px;
      margin-left: 0px;
      text-align: start;
    }
  }
}
