@use "../global" as *;

.l-header {
  background-image: url(../画像/img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 562px;
  @include sp {
    height: 600px;
  }
  position: relative;
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 193px;
    font-family: $font-family2;
    @include sp {
      @include f_style(84.5, bold, 97, 0);
      top: 250px;
    }
  }
}
