@use "../global" as *;

.l-header {
  height: 45px;
  max-width: $inner1;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 40px 0 40px;
  li {
    padding-bottom: 10px;
    a {
      color: $white;
      font-size: 15px;
      padding-bottom: 10px;
    }
  }
}
