@use "../global" as *;

body {
  background-color: $background;
  color: $black;
  list-style: none;
  a {
    color: $black;
  }
  h1 {
    @include f_style(20, bold, 26, 0);
    color: $black;
    font-weight: $font-family1;
  }
  h2 {
    @include f_style(14, regular, 21, 0);
    color: $black;
    font-weight: $font-family2;
  }
  p,
  h4,
  dt,
  dd {
    @include f_style(12, bold, 18, 0);
    color: $black;
    font-weight: $font-family2;
  }
  h3 {
    @include f_style(13, bold, 15, 0);
    color: $black;
  }
}
