@use "../global" as *;

.c-ham-btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 45px;
  z-index: 98;
  cursor: pointer;
  margin-top: 15px;
  span {
    position: absolute;
    left: 7px;
    width: 36px;
    height: 3px;
    transition: all 0.4s;
    background-color: #000;
    &:nth-of-type(1) {
      top: 8px;
    }
    &:nth-of-type(2) {
      top: 17px;
    }
  }
}

#c-BTN1 {
  &.active {
    transform: rotate(360deg);
    transition: all 0.5s;
    span {
      &:nth-of-type(1) {
        transform: translateY(15px) rotate(-45deg);
        background-color: $white;
      }
      &:nth-of-type(2) {
        top: 38px;
        transform: translateY(-15px) rotate(45deg);
        background-color: $white;
      }
    }
  }
}
