@use "../global" as *;

.c-list {
  position: absolute;
  width: 100%;
  justify-content: end;
  &__menu {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 15px;
    @include sp {
      margin-top: 20px;
    }

    li {
      margin-right: 27px;
    }
  }
}
