@use "../global" as *;

.c-pagenation {
  justify-content: center;
  display: flex;
  margin: -5px;
  li {
    padding: 0 20px;
    font-family: $font-family2;
    @include f_style(14, regular, 21, 0);
  }
}
