@use "../global" as *;

.p-article {
  &__company {
    max-width: $inner2;
    @include size {
      margin-top: 50px;
    }
    dl {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
      @include size {
        flex-direction: column;
      }
    }
    dt {
      width: 20%;
      border-bottom: solid 1px #dcdbdb;
      padding: 20px 10px;
      @include size {
        width: 100%;
        padding: 22px 0px 0 0px;
        border-bottom: none;
      }
    }
    dd {
      @include f_style(14, regular, 21, 0);
      width: 60%;
      border-bottom: solid 1px #dcdbdb;
      padding: 20px 10px;
      @include size {
        width: 100%;
        padding: 12px 0px 18px 0px;
      }
    }
  }
  &__about {
    max-width: $inner2;
    margin-top: 31px;
    margin-bottom: 464px;
    @include size {
      margin-top: 50px;
      margin-bottom: 182px;
    }
    &-sec {
      @include f_style(14, regular, 26, 10);
      width: 74%;
      margin-bottom: 25px;
      @include size {
        width: 100%;
        @include f_style(14, regular, 26, 40);
      }
    }
  }
  &__2ca {
    display: flex;
    max-width: $inner2;
    @include size {
      flex-direction: column;
    }
    &-left {
      width: 50%;
      @include size {
        width: 100%;
      }
      img {
        width: 100%;
        padding-right: 20px;
      }
    }
    &-right {
      width: 42%;
      padding-left: 63px;
      @include size {
        width: 100%;
        padding-left: 0px;
        padding-top: 23px;
      }
      section {
        @include f_style(14, regular, 21, 15);
        font-family: $font-family2;
        @include size {
          font-size: 13.5px;
        }
      }
      > :nth-child(1) {
        margin-top: 3px;
      }
      > :nth-child(2) {
        margin-top: 30px;
        @include size {
          margin-top: 34px;
        }
      }
      > :nth-child(3) {
        margin-top: 30px;
      }
      dl {
        display: flex;
        margin-top: 30px;
        width: 100%;
        flex-wrap: wrap;
        dt {
          width: 30%;
          @include size {
            width: 35%;
          }
        }
        dd {
          width: 70%;
          @include size {
            width: 65%;
          }
        }
      }
      &-c {
        margin-top: 85px;
        margin-left: 26px;
        @include size {
          margin-top: 58px;
          margin-left: 18px;
        }
        text-align: center;
      }
    }
  }
  width: 100%;
  margin: 0 auto;
  p {
    padding-top: 3px;
  }
  &__products-top {
    margin: 28px 0;
    @include size {
      margin: 46px 0 30px 0;
    }
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include size {
      margin-bottom: 23px;
    }
    li {
      width: 23%;
      @include size {
        width: 48%;
        margin: 0px 0 18px 0;
      }
    }
    img {
      width: 100%;
    }
    &-1 {
      margin-bottom: 39px;
    }
  }
  h3 {
    text-align: center;
  }
}
