@use "../global" as *;

.p-article {
  width: 100%;
  margin: 0 auto;
  p {
    padding-top: 3px;
  }
  &__products-top {
    margin: 28px 0;
    @include size {
      margin: 46px 0 34px 0;
    }
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include size {
      margin-bottom: 23px;
    }
    li {
      width: 23%;
      @include size {
        width: 48%;
        margin: 0px 0 18px 0;
      }
    }
    img {
      width: 100%;
    }
    &-1 {
      margin-bottom: 39px;
    }
  }
  h3 {
    text-align: center;
  }
}
