@use "../global" as *;

.p-article {
  width: 100%;
  margin: 0 auto;
  &__pictures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
    li {
      width: 23%;
    }
    img {
      width: 100%;
    }
  }
  h3 {
    text-align: center;
  }
}
