@use "../global" as *;

.p-sns {
  display: flex;
  @include size {
    margin-top: 46px;
    margin-left: 39px;
  }
  @include size {
    margin-left: 0px;
  }
  p {
    &:nth-child(2) {
      margin-left: 25px;
    }
    &:nth-child(3) {
      margin-left: 20px;
    }
  }
}
