$size: 900px;
@mixin size {
  @media (max-width: ($size)) {
    @content;
  }
}

$tab: 768px;
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

$sp: 599px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
